body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

.todolist-post{
    margin-bottom: 60px;
}

.todolist-post-title{
    margin-bottom: 5px;
    font-size: 40px;
}

.todolist-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
    
}